<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

 <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   <!-- <body style="background-image:url(/images/img1.jpg);"> -->
    <body>
      <div class="head">
        <img id="logo" src="/images/cdac logo.jpg" alt="">
        <div class="title">
          <h1 style="font-size:27px;font-weight: 800" ;>Centre For Development of Advanced Computing <br>Center In North
            East<span style="font-size:32px" ;> (CINE)</span>, Silchar,&nbspAssam-788010</h1>
          <h3 style="font-size:22px" ;> Public Grievance Redress and Monitoring System(PGRAMS)</h3>
        </div>
        <img id="clg" src="/images/nit Silchar copy.jpg" alt="">
      </div>
    <div class="nav">
      <a href="/"><i class="bi bi-house"></i>&nbsp Home</a>
      <div class="dropdowna">
        <button class="dropbtna"><i class="fa-solid fa-users-gear"></i>&nbsp PGRAMS Officers
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-contenta">
          <a href="/offHome">Assigning officers</a>
          <a href="/techHome">Technicians</a>
        </div>
      </div>
      <a href="/status"><i class="bi bi-search"></i>&nbsp View Status</a>
      <a href="/about"><i class="bi bi-file-earmark-person-fill"></i>&nbsp About</a>
      <a href="/contact"><i class="bi bi-person-lines-fill"></i>&nbsp Contact</a>
      <a href="https://www.cdac.in/index.aspx?id=edu_acts_NECertificateSilchar">C-DAC Website</a>
      <a href="/login" class="sign" style="font-size:20px;font-weight:800" ;> <i
        class="fa-solid fa-right-to-bracket"></i>&nbsp Sign In</a>
    </div>
    <div class="container">

      <h1>CONTACT US</h1>

<div class="main">

      <form class="" action="index.html" method="post">
        <div class="data" >
          <span>Email ID:</span>     <a style="font-size:20px;" href="rituk@cdac.in">rituk@cdac.in</a>
          &nbsp &nbsp 
          &nbsp &nbsp 
          <span>Contact No:</span> <p style="font-size:22px; ">+918811080081</p>
          </div>
          <div class="data1" >
          <span>Landline:</span> <p style="font-size:22px; ">03842242009</p>
          &nbsp &nbsp 
          &nbsp &nbsp 
          <span>C-DAC Website:</span>     <a style=" font-size:20px;" href="www.cdac.in">C-DAC</a>

        </div>

          <h2 style="padding:0 0 10px 100px; margin:20px 0 0 10px;">Enter Your Query(STATIC)</h2>
        <div class="input-box">
         <p style="color: black;">Name:</p> 
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
       <p style="color: black;">Email ID :</p>      
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <p style="color: black;">Query:</p>
      <textarea placeholder="Query"></textarea>
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>

    </form>
    <div class="location">
      <!-- <i class="fas fa-envelope"></i> -->
      <!-- <h2>Location</h2> -->
      <div class="text-one"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57956.10079400175!2d92.75613339405679!3d24.786675806602158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374e49c2683c9f95%3A0x9698a07544a4b227!2sC-DAC%20Silchar!5e0!3m2!1sen!2sin!4v1663579321629!5m2!1sen!2sin"  
         width=580px;  height=510px;class="shadow border boder-white" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      <!-- <h2>Location</h2> -->
    </div>
  </div>
 
  
  </div>
 
    <div class="text-one1">

    <label  >Center for Development of  Advanced Computing Centre in North East (CDAC-CINE), &nbsp Silchar, &nbsp Assam, &nbsp India.</label>
    <div  class="office">
      
      <h3><span style="color:rgb(217, 153, 25)";>Our main Office :</span>
          Production Building,&nbsp NIT Silchar Campus,&nbsp NIT Road, &nbspSilchar, &nbsp Assam  788010.</h3>
    </div>
    <div class="address">
      <div class="phone ">
        <h3><i class="bi bi-telephone-plus"></i>&nbsp &nbsp Mobile No</h3>
        
       
        <h3> +918811080081</h3>
  
      </div>
      <div class="email ">
       
      <h3><i class="bi bi-envelope-at-fill"></i>&nbsp &nbspEmail</h3>
       
        <h3><a href="rituk@cdac.in">rituk@cdac.in</a></h3>
       
       
        </div>
        <div class="landline ">
        <h3> <i class="fa-solid fa-tty"></i>&nbsp &nbspLandline</h3>
          
          <h3>03842242009</h3>
    
        </div>
        <div class="website">
         
        <h3>Website</h3>
          <!-- <i class="fas fa-envelope"></i> -->
          <h3><a href="www.cdac.in">C-DAC</a></h3>
         
          </div>
  
    </div>
 
  </div>

</body>
</html>