<!DOCTYPE html>
<html>

<head>
  <title>forgot username</title>
  <link rel="stylesheet" href="/css/styles8.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<!-- <body style="background-image:url(/images/img1.jpg);"> -->
  <body>
      <div class="head">
    <img id="logo" src="/images/cdac logo.jpg" alt="">
    <div class="title">
      <h1 style="font-size:27px;font-weight: 800" ;>Centre For Development of Advanced Computing <br>Center In North
        East<span style="font-size:32px" ;> (CINE)</span>, Silchar,&nbspAssam-788010</h1>
      <h3 style="font-size:22px" ;> Public Grievance Redress and Monitoring System(PGRAMS)</h3>
    </div>
    <img id="clg" src="/images/nit Silchar copy.jpg" alt="">
  </div>
  <div class="nav">
    <a href="/"><i class="bi bi-house"></i>&nbsp Home</a>
    <div class="dropdown">
      <button class="dropbtn"><i class="fa-solid fa-users-gear"></i>&nbsp PGRAMS Officers
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/offHome">Assigning officers</a>
        <a href="/techHome">Technicians</a>
      </div>
    </div>
    <a href="/status"><i class="bi bi-search"></i>&nbsp View Status</a>
    <a href="/about"><i class="bi bi-file-earmark-person-fill"></i>&nbsp About</a>
    <a href="/contact"><i class="bi bi-person-lines-fill"></i>&nbsp Contact</a>
    <a href="https://www.cdac.in/index.aspx?id=edu_acts_NECertificateSilchar">C-DAC website</a>
    <!-- <a href="#"><i class="fa fa-fw fa-user"></i> About</a> -->
  </div>

    <div class="div1">

      <h1 id="heading" class="heading1">
        FORGOT USERNAME
      </h1>
   
      
      <div id="Userlogin" class="tabcontent">
        <!-- <form action="#" class="form"> -->
          <form class="form" action="/login" method="post">

            <div class="form_div">
              
                <p>
                  Email Id/Mobile No
                </p>
                <input type="text" name="username" class="form_input" placeholder="Username">
            </div>

            <!-- <div class="form_div">
               
                <p>
                  Password
                </p>
                <input type="password" name="password" class="form_input" placeholder="Password"><br>
            </div> -->
            <p >
              Security Code
               </p>
            <div id="captcha" class="form_div">
                <div class="preview"></div>
                <div class="captcha_form"> 
                    <input type="text" id="captcha_form" class="form_input_captcha" placeholder="Security Code">
                    <input type="button" class="captcha_refersh">
                        <!-- <i class="fa fa-refresh"></i> -->
                </input>
                </div>
            </div>

            <input type="submit" class="form_button" value="UPDATE">
            <div class="bottom">
              <p class="para">
                Back To
        
                <a href="/">User login</a>
              </p>
        
            </div>
        </form>
    </div> 
  </div>

      <!-- <div class="main">
        <p>
          Email Id/Mobile No
        </p>
        <input type="Username" name="Username" placeholder="Username">
       
        <div class="login-form">
          <div class="captcha">
            <label for="captcha-input">Security Code</label>
            <input type="text" id="captcha-form" placeholder="Security Code">
         
              
              <div class="button">
                <div class="preview"></div>
                <input type="button" class="captcha-refresh" >
                <i class="fa fa-refresh"></i>
              </input>
              </div>
           
          </div>
         
        </div>
      </div> -->
   
      <!-- <br><br>
      <div class="div2">

        <button type="button" name="button">Update</button>
      </div>
      <div class="bottom">
      <p class="para">
        Back To

        <a href="/">User login</a>
      </p>

    </div> -->

  
    <footer>
      <p>
        <a href="https://www.cdac.in/index.aspx?id=help">Help</a>
        <a href="https://www.cdac.in/index.aspx?id=website_policies">Website Policies</a>
        <a href="https://www.cdac.in/index.aspx?id=legal_notice#2">Copyrights Policy</a>
        <a href="https://www.cdac.in/index.aspx?id=terms_conditions">Terms & Conditions</a>
        <a href="https://www.cdac.in/index.aspx?id=reach_us">Reach Us</a>
        <a href="https://www.facebook.com/CDACINDIA/"><img src="/images/pics/facebook.png" alt=""></a>
        <a href="https://www.linkedin.com/messaging/thread/2-NzI2YmNjMmItNzU3NS00ZjRiLTllZDMtNmZjNzU3MGJiZDIyXzAxMw==/"><img
            src="/images/pics/linkedin.png" alt=""></a>
        <a href="https://twitter.com/cdacindia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img
            src="/images/pics/twitter.png" alt=""></a>
      </p> <br>
      <p>Website owned & maintained by: Centre for Development of Advanced Computing (C-DAC)</p> <br>
      <p>© 2022 C-DAC. All rights reserved, Last Updated: Monday, December 26, 2022</p><br>
    </footer>
</body>
<script >
(function(){
  const fonts = ["bolder"];
  let captchaValue = "";
  function gencaptcha()
  {
      let value = btoa(Math.random()*1000000000);
      value = value.substr(0,5 + Math.random()*5);
      captchaValue = value;
  }

  function setcaptcha()
  {
      let html = captchaValue.split("").map((char)=>{
          const rotate = -20 + Math.trunc(Math.random()*30);
          const font = Math.trunc(Math.random()*fonts.length);
          return`<span
          style="
          transform:rotate(${rotate}deg);
          font-family:${font[font]};
          "
         >${char} </span>`;
      }).join("");
      document.querySelector(".tabcontent #captcha .preview").innerHTML = html;
  }

  function initCaptcha()
  {
      document.querySelector(".tabcontent #captcha .captcha_refersh").addEventListener("click",function(){
          gencaptcha();
          setcaptcha();
      });

      gencaptcha();
      setcaptcha();
  }
  initCaptcha();

  document.querySelector(".tabcontent .form_button").addEventListener("click",function(){
      let inputcaptchavalue = document.querySelector(".tabcontent #captcha input").value;

      if (inputcaptchavalue === captchaValue) 
      {
          // swal("","Log in","success");
          alert("Log in success");
      }
      else
      {
          // swal("Invalid Captcha");
          alert("Invalid Captcha");
      }
  });
})();
</script>
</html>
