<!DOCTYPE html>
<html>

<head>
  <title>Reset password</title>
  <!-- <link rel="stylesheet" href="/css/styles7.css"> -->
    <link rel="stylesheet" href="/css/style.css">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>

<body style="background-image:url(/images/img1.jpg);">
  <div class="head">
    <img id="logo" src="/images/cdac logo.jpg" alt="">
    
    <div class="title">
      <h1> Centre for Development of Advanced Computing Center in North East  SILCHAR</h1>
  
      <h3 style="font-size:30px;"> Public Grievance Redressal System</h3>
    </div>
  <img id="clg" src="/images/clgpic.jpeg" alt="">
  </div>
    <div class="home">
      <a href="/">HOME</a>
      <a href="/about" class="nav">ABOUT US</a>
        <a href="/contact" class="nav">CONTACT US</a>
        <a style="width:200px;" href="https://www.cdac.in/index.aspx?id=edu_acts_NECertificateSilchar">C-DAC Website</a>
      </div>

    <div class="div1">
      
      <h1 id="heading" class="heading1">
        RESET PASSWORD
      </h1>
      <div><% if(message.length > 0){ %> 
      <div class="alert alert-warning">
        <%= message %> 
      </div>
    <% } %> </div>
      <form action="" method="post">
        <div class="main">
            <p> New password</p>
            <h4 >(&nbspNOTE: Password must contain  at least 8 characters, including UPPER/lowercase, one special character and numbers.&nbsp) </h4>
            <div class="container">

              <div class="field">
                 <input onkeyup="trigger()" type="password" name="newpassword" placeholder="Type password">
                 <span class="showBtn">SHOW</span>
              </div>
              <div class="indicator">
                 <span class="weak"></span>
                 <span class="medium"></span>
                 <span class="strong"></span>
              </div>
              <div class="text"></div>

        </div>
          <p>Confirm New password</p>
        <input type="password" name="confirmNewpassword" placeholder="Confirm password">
        <br>
        </div>
        <div class="div2">
          <button type="submit" name="submit">Update</button>
        </div>
   
      <div class="bottom">
        <p class="para">
          Back To
        <a href="/login">User login</a>
      </p>
      </div>
    </form>
    </div>
    <footer>
      <p>
       <a href="https://www.cdac.in/index.aspx?id=help">Help</a>
       <a href="https://www.cdac.in/index.aspx?id=website_policies">Website Policies</a>
       <a href="https://www.cdac.in/index.aspx?id=legal_notice#2">Copyrights Policy</a>
       <a href="https://www.cdac.in/index.aspx?id=terms_conditions">Terms & Conditions</a>
       <a href="https://www.cdac.in/index.aspx?id=reach_us">Reach Us</a>
       <a href="https://www.facebook.com/CDACINDIA/"><img src="/images/pics/facebook.png" alt=""></a>
       <a href="https://www.linkedin.com/messaging/thread/2-NzI2YmNjMmItNzU3NS00ZjRiLTllZDMtNmZjNzU3MGJiZDIyXzAxMw==/"><img src="/images/pics/linkedin.png" alt=""></a>
       <a href="https://twitter.com/cdacindia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="/images/pics/twitter.png" alt=""></a>
      </p>
      <p>Website owned & maintained by: Centre for Development of Advanced Computing (C-DAC)</p>
      <p>© 2022 C-DAC. All rights reserved, Last Updated: Monday, December 26, 2022</p>
   </footer>
    <script type="text/javascript">

      const indicator = document.querySelector(".indicator");
      const input = document.querySelector("input");
      const weak = document.querySelector(".weak");
      const medium = document.querySelector(".medium");
      const strong = document.querySelector(".strong");
      const text = document.querySelector(".text");
      const showBtn = document.querySelector(".showBtn");
      let regExpWeak = /[a-z]/;
      let regExpMedium = /\d+/;
      let regExpStrong = /.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/;
      function trigger(){
        if(input.value != ""){
          indicator.style.display = "block";
          indicator.style.display = "flex";
          if(input.value.length <= 3 && (input.value.match(regExpWeak) || input.value.match(regExpMedium) || input.value.match(regExpStrong)))no=1;
          if(input.value.length >= 6 && ((input.value.match(regExpWeak) && input.value.match(regExpMedium)) || (input.value.match(regExpMedium) && input.value.match(regExpStrong)) || (input.value.match(regExpWeak) && input.value.match(regExpStrong))))no=2;
          if(input.value.length >= 6 && input.value.match(regExpWeak) && input.value.match(regExpMedium) && input.value.match(regExpStrong))no=3;
          if(no==1){
            weak.classList.add("active");
            text.style.display = "block";
            text.textContent = "Your password is too week";
            text.classList.add("weak");
          }
          if(no==2){
            medium.classList.add("active");
            text.textContent = "Your password is medium";
            text.classList.add("medium");
          }else{
            medium.classList.remove("active");
            text.classList.remove("medium");
          }
          if(no==3){
            weak.classList.add("active");
            medium.classList.add("active");
            strong.classList.add("active");
            text.textContent = "Your password is strong";
            text.classList.add("strong");
          }else{
            strong.classList.remove("active");
            text.classList.remove("strong");
          }
          showBtn.style.display = "block";
          showBtn.onclick = function(){
            if(input.type == "password"){
              input.type = "text";
              showBtn.textContent = "HIDE";
              showBtn.style.color = "#23ad5c";
            }else{
              input.type = "password";
              showBtn.textContent = "SHOW";
              showBtn.style.color = "#000";
            }
          }
        }else{
          indicator.style.display = "none";
          text.style.display = "none";
          showBtn.style.display = "none";
        }
      }
   </script>
</body>

</html>