form{
  -webkit-box-shadow: 15px 18px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 18px 8px 0px rgba(0,0,0,0.75);
box-shadow: 15px 18px 8px 0px rgba(0,0,0,0.75);
  background-color: #7b35357a;
  /* border-radius: 15px; */
height:900px;
width:80%;
/* display: flex;
justify-content: space-around; */
margin-left:150px;
}
.main h1{
  color:#3b3432;
  font-weight: bold;
  /* font-size: 35px; */
  padding-left: 95px;
  /* display: flex;
  justify-content: center; */
}
.main h3{
  color:#6b4b42;
  font-weight: bold;
width:100px;
padding-left: 95px;
}
form li{
  font-size: 25px;
  margin:0px 100px 0px 100px;
  color: #000000;
}
.main h2{
  margin:0;
  padding-top:20px;
  display: flex;
  justify-content: center;
    font-size: 35px;
    /* color:white; */
    color: #5a4b4b;

}
.form p{
  font-size: 25px;
margin:25px 100px 0px 100px;
color:#000000 ;
}

.main{
  position: relative;
  background-color: #b3988c78;
  height: 1100px;
  top: 4px;
}
body{
  /* background-color: #bc6c8099; */
  margin:0;
  /* min-height: 100vh;
  width: 100%; */
  /* background: #33cdb1b5; */
    position: relative;
  /* width: 1470px; */
    height:100%;
    /* width:100%; */
    margin:0;
color:rgb(231 231 231 / 94%);
    /* background-image:url(img1.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 100% ;

  }
  .head{
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:black;
      display: flex;
   justify-content: space-between;
   text-align: center;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h3{
    margin:10px 0 0 0;
  color:white;
   font-size: 23px;
    text-align: center;
  }
  .head h3{
    position:relative ;
    top: -10px;
    color:black;
  }
  .head img{
      width:10%;
  }
  #logo{
  
      background-color: rgb(192, 179, 179);
  }
  #clg{
      width: 20%;
  }
  .title{
    background-color:#bea0a0;
      width: 70%;
  }
  .nav{
     
    width: 100%;
    background-color:#6e0747;
    /* position: absolute; */
    /* bottom: 0; */
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top: 4px;

  }
  .nav a{
   margin: auto;
    width: 150px;
  float: left;
  color: white;
  text-decoration: none;
  font-size:18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  }
.home img{
  width:35px;
  height: 35px;
}


.dropdowna {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdowna .dropbtna{
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  
}
.dropbtna,.dropdowna{
  margin: auto;
  /* width: 150px; */
float: left;
color: white;
text-decoration: none;
font-size:18px;
font-weight: 600;
text-align: center;
text-transform: uppercase;
}

/* Add a red background color to navbar links on hover */


/* Dropdown content (hidden by default) */
.dropdown-contenta {
  margin-top:20px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contenta a {
  float: none;
  color: black;
  padding: 12px 16px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform:none ;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-contenta a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdowna:hover .dropdown-contenta {
  display: block;
}

footer img{
  width: 35px;

}
p {
  text-transform: capitalize;
}
footer{
  padding: 20px;
  position: relative;
  text-align: center;
  background-color:#473e43;
  margin-top: 10px;
  border-radius: 10px;
  color: rgb(254, 253, 253);
}
footer a{
  padding: 15px;
  color: rgb(254, 253, 253);
 
}
footer img{
  width: 35px;

}
.main h3{
color: #3b3432;
}