.cardContainer{
  margin:4rem;
   display: flex;
   /* flex-direction: c; */
   justify-content: space-around;
   flex-wrap: wrap;
   gap:2rem;
   justify-content: center;
   align-items: center;
}
.card-img-top:hover{
   cursor: pointer;
}
.heading{
 margin-top:10px;
}
.my a{
 color:black;
}
.title-admin{

 display: flex; 
 justify-content: center; 
 margin-top:4px;
}
.title-admin div{
 background-color:#6e0747;
 border-radius: 5px;
 padding: 0.7rem;
 width: max-content;
}
.all-container{
 display: flex;
 justify-content:space-around;
 margin-top: 20px;
 padding-bottom: 50px;
}

.private-container{
 min-height: 35rem;
 display: flex;
 flex-direction: column;
 gap: 20px;
 border: 1px solid whitesmoke;
 border-radius: 5px;
 padding: 10px;
 overflow:auto;
 width: 30%;
 box-shadow: 0 15px 15px 0 black;
 background-color: #ddd4d6;
}

.dropdowna {
 float: left;
 overflow: hidden;
}

/* Dropdown button */
.dropdowna .dropbtna{
 font-size: 18px;
 border: none;
 outline: none;
 color: white;
 /* padding: 14px 16px; */
 background-color: inherit;
 font-family: inherit; /* Important for vertical align on mobile phones */
 margin: 0; /* Important for vertical align on mobile phones */
 
}
.dropbtna,.dropdowna{
 margin: auto;
 /* width: 150px; */
float: left;
color: white;
text-decoration: none;
font-size:18px;
font-weight: 600;
text-align: center;
text-transform: uppercase;
}

/* Add a red background color to navbar links on hover */


/* Dropdown content (hidden by default) */
.dropdown-contenta {
 margin-top:20px;
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contenta a {
 float: none;
 color: black;
 padding: 12px 16px;
 font-size: 15px;
 text-decoration: none;
 display: block;
 text-align: left;
 text-transform:none ;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-contenta a:hover {
 background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdowna:hover .dropdown-contenta {
 display: block;
}
.title-user{
 color: #7a243c;
 font-weight:bold;
}
.home a:hover{
 color: #fff;
}

footer{
   padding: 20px;
   text-align: center;
   background-color:#755353c7;
   margin-top: 50px;
   border-radius: 10px;
   color: rgb(254, 253, 253);
 }
 footer a{
   padding: 15px;
   color: rgb(254, 253, 253);
  
 }
 footer img{
   width: 35px;
 
 }


 .listtwo {
   background-color: #532642c2;
   width: 100%;
   display: flex;
   justify-content: space-around;
   color: #fff;
   font-family: mukta;
   font-weight: 300;
}
.listtwo h3{
 justify-content: center;
 margin:auto;
}
.view {
 padding: 7px;
 background-color: #fff;
 border: 0;
 outline: none;
 cursor: pointer;
 font-size: 20px;
 font-weight: 300;
 border-radius: 30px;
 width: fit-content;
}

.view:hover {
 background-color: #000000;
 color: white;
}
 .popup {
   width: 400px;
   background-color: #fff;
   border-radius: 6px;
   position: absolute;
   top: 0%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.1);
   text-align: center;
   padding: 0 30px 30px;
   color: #333;
   visibility: hidden;
   transition: transform 0.4, top 0.4s;
}

.open-popup {
   visibility: visible;
   top: 40%;
   transform: translate(-50%, -50%) scale(1);
}


.popup img {
   width: 100px;
   margin-top: -50px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0 0 0 0.2);

}

.popup h2 {
   font-size: 38px;
   font-weight: 500;
   margin: 15px 0 5px;
}

/* .adminbutton {
   min-width:20%;
   margin-top: 50px;
   padding: 10px 0;
   background: #6fd649;
   color: #fff;
   border: 0;
   outline: none;
   font-size: 18px;
   border-radius: 4px;
   cursor: pointer;
   box-shadow: 0 2px 5px rgba(0 0 0 0.2);
} */

.popup b {
   color: #5305ee;
}