body {
  /* font-family: Arial, Helvetica, sans-serif; */
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 200%;
}
/*@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }*/

.nav{
     
  width: 100%;
  background-color:#6e0747;
  /* position: absolute; */
  /* bottom: 0; */
  display: flex;
  justify-content: space-around;
  height: 40px;
  margin-top: 4px;

}
.nav a{
 margin: auto;
  width: 150px;
float: left;
color: white;
text-decoration: none;
font-size:18px;
font-weight: 600;
text-align: center;
text-transform: uppercase;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #bdbdbd;
  border-width: 5px;
  height: 0px;
  width: 30%
}

.ii-container {
  /* background-color: #F0E9D2; */
  height: 900px;
  width: auto;
  margin-top:4px;
}

/* * {
  box-sizing: border-box
} */

.wish{
  /* font-size: 20px; */
  color: white;
  font-weight:bold;
  font-style: italic;
  /* text-align: center; */
}


/* Set height of body and the document to 100% */

/* Style tab links */
.tablink {
 
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33%;
  /* border-radius: 8px; */
  border: 1px  solid;
  border-bottom: 0px;
  /* border-color: blue; */
}

.tablink:hover {
  background-color: #777;
    border-radius: 8px;
}
.a{
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  /* background-color: #5305ee; */
  /* padding: 10px; */
  /* width: 60px;; */
  /* padding-left: 100px;
  padding-right: 100px; */
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  /* background-color: #777; */
  padding: 50px 20px 0 20px;
  height: 800px;
  width: 100%;
}

#grievance {
  background-color:#90405480;
}

#employee {
  background-color: #90405480;
}

.navebar {
  width: 100%;
  overflow: hidden;
  background-color:#6e0747;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.navebar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  width: 220px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  border-radius: 8px;
  padding: 14px 16px;
  background-color: inherit;
  /* font-family: inherit; */
  margin: 0;
}

.navebar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color:#a03a79;
}

#myDropdown {
  
  position: absolute;
  background-color:azure;
  min-width: 92%;
  min-height: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#Dropdown {
  display: none;
  position: absolute;
  background-color: #cdffff;
  min-width: 92%;
  min-height: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 97.5%;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* departments content */
/* * {
  box-sizing: border-box
} */

/* Style the tab */
.table {
  float: left;
  border: 0px solid #ccc;
  background-color: azure;
  width: 15%;
  height: auto;
}

/* Style the buttons inside the tab */
.table button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.0s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.table button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.table button.active {
  background-color: #a18e8da3;
}

/* Style the tab content */
.tablecontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 550px;
  background-color: #bea09f;
  overflow: scroll;
}

/* assigned complaints start */
.dropdwn {
  float: left;
  overflow: hidden;
}

.dropbutn {
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  border-radius: 8px;
  padding: 14px 16px;
  background-color: inherit;
  /* font-family: inherit; */
  margin: 0;
}


/* #myDropdown {

  position: absolute;
  background-color: azure;
  min-width: 92%;
  min-height: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#Dropdown{
  display: none;
  position: absolute;
  background-color: azure;
  min-width: 92%;
  min-height: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} */
.dropdwn-content {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  background-color: azure;
  display: block;
  text-align: left;
  width: 1200px;
  height: 550px;
  margin-bottom: 50px;
}

.dropdwn-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* departments content */
* {
  box-sizing: border-box
}

/* Style the tab */
.tabe {
  float: left;
  border: 0px solid #ccc;
  background-color: azure;
  width: 220px;
  height: auto;
}

/* Style the buttons inside the tab */
.tabelinks {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 220px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.0s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabe button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tabe button.active {
  background-color: #a18e8da3;
}

/* Style the tab content */
.tabecontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 500px;
  background-color: #bea09f;
  overflow: scroll;
}

/* EmployeeDropdown */
#EmployeeDropdown {
  position: absolute;
  background-color: azure;
  min-width: 92%;
  min-height: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.center1 {
  margin-top: 0;
  padding-top: 10px;
  width: 100%;
  height: 520px;
  /* changes */
  background-color: #9773e0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 17px 20px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 20px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 20px 5px 0px rgba(0, 0, 0, 0.75);
  /* changes */
}

.listone h3 {
  width: 50%;

}

.view {
  margin-right: 30px;
  /* width: 200px; */
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
  background-color: #a55a89;
  color: white;
  padding:3px;
}
.view:hover,.view:focus{
 cursor: pointer;
 background-color: #6f104b;
}

.listone {
 

  background-color:#e3afbc;
  margin-left: 80px;
  width: 70%;
  display: flex;
  border: 2px solid black;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.popup {
  min-width: 600px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0 0 0 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 50%;
  margin-top: 10px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0 0 0 0.2);
}

.popup b{
  color: #5305ee;
  font-size: 20px;
}

.popup p{
  /* display: flex; */
  font-size: 20px;
  padding: 4px;
}
.select{
  width:200px;
  padding: 4px;
  border: 1px solid black;
}
/* .rejectForm{
  display: flex;
  flex-grow: inherit;
} */
.ft {
  height: 300px;
  width: auto;
  background-color: #dc818187;
  display: flex;
  justify-content: space-around;
  color: #f1ae4c;
}

.ft div {
  margin-top: 50px;
}

.ft a {
  text-decoration: none;
    color: white;
}

.ft-main__item img {
  height: 150px;
  width: 150px;
}

.ft-main__item__media-icon-container img {
  height: 30px;
  width: 30px;
}


.alert-warning{
  background-color: rgb(239, 255, 196);
  display: flex;
  border: 1px solid rgb(73, 96, 10);
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  color: #796d34;
}
footer{
  padding: 20px;
  text-align: center;
  background-color:#755353c7;
  /* margin-top: 50px; */
  border-radius: 10px;
  color: rgb(254, 253, 253);
}
footer a{
  padding: 15px;
  color: rgb(254, 253, 253);
 
}
footer img{
  width: 35px;

}
.head{
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:black;
    display: flex;
 justify-content: space-between;
 text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3{
  /* margin:10px 0 0 0; */
  margin: auto;
/* color:white; */
 font-size: 23px;
  text-align: center;
}
.head h3{
  position:relative ;
  top: -10px;
  color:black;
}
.head img{
    width:10%;
}
#logo{

    background-color: rgb(192, 179, 179);
}
#clg{
    width: 20%;
}
.title{
  background-color:#bea0a0;
    width: 70%;
}
.dropdowna {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdowna .dropbtna{
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  
}
.dropbtna,.dropdowna{
  margin: auto;
  /* width: 150px; */
float: left;
color: white;
text-decoration: none;
font-size:18px;
font-weight: 600;
text-align: center;
text-transform: uppercase;
}


/* Dropdown content (hidden by default) */
.dropdown-contenta {
  margin-top:20px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contenta a {
  float: none;
  color: black;
  padding: 12px 16px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform:none ;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-contenta a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdowna:hover .dropdown-contenta {
  display: block;
}
footer img{
  width: 35px;

}
p {
  text-transform: capitalize;
}
footer{
  padding: 20px;
  position: relative;
  text-align: center;
  background-color:#473e43;
  margin-top: 10px;
  border-radius: 10px;
  color: rgb(254, 253, 253);
}
footer a{
  padding: 15px;
  color: rgb(254, 253, 253);
 
}
footer img{
  width: 35px;

}