body{
    /* background-image: url(/PROJECT/pics/clg.jpeg); */
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}


body {
    position: relative;
  /* width: 1470px; */
    height:100%;
    /* width:100%; */
    margin:0;
  
    /* background-image:url(img1.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 100% ;
  
  }
  .head{
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:black;
      display: flex;
   justify-content: space-between;
   text-align: center;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h3{
    /* margin:10px 0 0 0; */
    margin: auto;
  /* color:white; */
   font-size: 23px;
    text-align: center;
  }
  .head h3{
    position:relative ;
    top: -10px;
    color:black;
  }
  .head img{
      width:10%;
  }
  #logo{
  
      background-color: rgb(192, 179, 179);
  }
  #clg{
      width: 20%;
  }
  .title{
    background-color:#bea0a0;
      width: 70%;
  }
  .nav{
     
    width: 100%;
    background-color:#6e0747;
    /* position: absolute; */
    /* bottom: 0; */
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top: 4px;
  
  }
  .nav a{
   margin: auto;
    width: 150px;
  float: left;
  color: white;
  text-decoration: none;
  font-size:18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  }
  .home{
    display: flex;
    width: 10%;
    justify-content:space-around;
   
  }
#main{
    width: 90%;
    height: 700px;
   
    margin: auto;
    padding-top:10px ;
}
button{
    cursor: pointer;
}
.middlecontainer{
  
    /* background-image:url(/PROJECT/pics/clg.jpg); */
    
    background-repeat: no-repeat;
    background-position:center;
   height:650px;
   width: 100%;
   background-color:#efe0e0;
    
  }
/* #topone,#toptwo{
    width: 50%;
    height: 100px;
    font-weight: bold;
    color: white;
    font-size: 21px;
}
#topone{
    background-color: #56613b;
}
      
#toptwo{
    background-color:#5B5B5B;
} */
/* #topone:hover,#toptwo:hover{
    width: 50%;
    height: 100px;
    background-color: rgb(255, 85, 0);
} */

/* footer */
footer{
    padding: 10px;
    text-align: center;
    background-color: #494d44;
    margin-top: 5px;
    border-radius: 10px;
    color: rgb(254, 253, 253);
}
footer a{
    padding: 15px;
    color: rgb(254, 253, 253);
   
}

footer img{
    width: 35px;

}
/* begin of main 2 */

#main2{
   
    /* border: 2px solid black; */
    text-align: center;  
    padding: 10px; 
}

#top{
   padding-top:10px;
    display: flex;
    justify-content: space-around;
    
}
#topone{
    font-size: 1.1em;
    padding: 3px;
    width: 50%;
/* padding-top: 20px;
padding-bottom: 10px; */
background-color:#6e0747;
color: white;
border-top-left-radius: 15px;
font-weight:600;
}
#toptwo{
    font-size: 1.1em;
    font-weight:600;
    padding: 3px;
    width: 50%;
    height: 80px;
    /* padding-top: 20px;
    padding-bottom: 10px; */
    background-color:#735e5e;
    color: white;
border-top-right-radius: 15px;


}
#toptwo:hover,#topone:hover{
    opacity: 70%;
    /* color: black; */
    font-weight: bolder;
}
/* center1 for main2 */
.center1{
    margin-top: 2px;
    padding-top: 10px;
    width: 100%;
    overflow: scroll;
    /* changes */
    background-color:rgb(130 30 63 / 23%);

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 17px 20px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 20px 5px 0px rgba(0,0,0,0.75);
box-shadow: 17px 20px 5px 0px rgba(0,0,0,0.75);
    
    /* changes */
   
}
.center1,.center2{
    
    background-image: url(../images/pics/select\ option.png);
    background-repeat: no-repeat;
    background-size:985px 90%;
    background-position: 455px 13px ;
    margin: auto;
    height:470px;

    /* height:600px; */

   
}
.listone button{
    width:100%;
    /* outline:none; */
    font-weight: bold;
    height: 50px;
    font-size: 18px;
    
}
footer{
    padding: 20px;
    text-align: center;
    background-color:#755353c7;
    margin-top: 50px;
    border-radius: 10px;
    color: rgb(254, 253, 253);
  }
  footer a{
    padding: 15px;
    color: rgb(254, 253, 253);
   
  }
  footer img{
    width: 35px;
  
  }
.remove{
    width: 70px;
    height: 50px;
}
.listone{
    background-color: rgb(239, 255, 196);
    /* margin-left: -30px; */
    width:30%;
  display: flex;
  border: 2px solid black;
   margin-right:0px ;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
   

}

/* center2 */
.center2{
    margin-top: 0;
    padding-top: 10px;
    width: 100%;
    overflow: scroll;
    display: none;
    background-color:#46383880;

        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        -webkit-box-shadow: 17px 20px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 20px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 17px 20px 5px 0px rgba(0,0,0,0.75);
        
        /* changes */
}
.listtwo{
    background-color: rgb(239, 255, 196);
    /* margin-left: -30px; */
    width:30%;
  display: flex;
  border: 2px solid black;
   margin-right:0px ;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}
.listtwo button{
    width:100%;
    /* outline:none; */
    font-weight: bold;
    height: 50px;
    font-size: 20px;
    
}

.view:hover{
   background-color: lightgrey;
  
}
.view:focus{
  background-color:rgb(113, 84, 89);
  color: white;
}
.alert {
    background-color: rgb(239, 255, 196);
    display: flex;
    border: 1px solid rgb(73, 96, 10);
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    color: #796d34;
  }
.popup{
    width:67%;
    background-color:#fff ;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    display:none;  
    /* overflow: scroll; */
}
.open-popup{
       display:block ;
      top: 260px;
        border: 2px solid black;
        height:fit-content;
        left:30.5%;
        margin: auto;
        
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 5rem;
    /* display:inline; */
    /* margin-top: 50px; */
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    /* outline: none; */
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0 0 0 0.2);
}
.open-popup p{
  font-size: 19px;
}
.listone button ,.listtwo button{
  text-transform: capitalize;
}

.popup h2{
  text-transform: capitalize;
}
.popup b{
    color: #5305ee;
    font-size:20px
}

/* changes */
.remove{
    padding: 10px;
    padding-right: 60px;
    background-color: #fff;
    border:0;
    outline:none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;

}
.remove:hover{
   background-color: #000000;
   color: white;
}

footer img{
  width: 35px;

}
p {
  text-transform: capitalize;
}
footer{
  padding: 20px;
  position: relative;
  text-align: center;
  background-color:#473e43;
  margin-top: 10px;
  border-radius: 10px;
  color: rgb(254, 253, 253);
}
footer a{
  padding: 15px;
  color: rgb(254, 253, 253);
 
}
footer img{
  width: 35px;

}

.uploadpics{
    padding-right: 100px;
}
.alert {
    background-color: rgb(239, 255, 196);
    display: flex;
    border: 1px solid rgb(73, 96, 10);
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    color: #796d34;
  }
.active2{
    background-color:rgb(134, 138, 123);
}
.active1{
    background-color:#666363b0;
}
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn{
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  
}
.dropbtn,.dropdown{
  margin: auto;
  /* width: 150px; */
float: left;
color: white;
text-decoration: none;
font-size:18px;
font-weight: 600;
text-align: center;
text-transform: uppercase;
}


/* filter css */
#filter,#cfilter{
  display: flex;
  justify-content: left;
   height: 50px;
   padding-bottom: 5px;
   border-radius: 5px;
}
#selectarea,#cselectarea{
  border-radius: 5px;
  margin-left:5px;
}
.filter2,.cfilter{
  height: 2.9rem;
  margin-left:3px;
  border-radius: 5px;
}

.filterbutton{
  height:2.9rem;
  border-radius: 5px;
  width:50px;
  background-color: #6e0747;
  color:white;
  text-transform: capitalize;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  margin-top:20px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform:none ;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}